[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"
awsebcli = "*"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
requests = "*"
bs4 = "*"
lxml = "*"
pypika = "*"
pandas = "*"
asyncpg = "*"
sklearn = "*"
plotly = "*"
gunicorn = "*"
typing-extensions = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true

[packages.uvicorn]
extras = [ "standard",]
version = "*"

[packages.databases]
extras = [ "postgresql",]
version = "*"
